.genre_budge {
    background-color: darkgrey;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.genre_budge:hover {
    background-color: grey;
    transform: scale(1.05);
    color: palevioletred;
}
