.theme_toggle_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 12px;
    position: relative;
}

.theme_toggle_background {
    width: 50px;
    height: 20px;
    background-color: #444;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}

.theme_toggle_slider {
    width: 30px;
    height: 14px;
    background-color: #222;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);
    transition: transform 0.3s, background-color 0.3s;
    z-index: 1;
}

.theme_toggle_label {
    margin-left: 10px;
    font-weight: bold;
    padding-left: 50px;
    transition: padding-left 0.3s;
    z-index: 1;
}

.slider_dark {
    transform: translate(10%, -50%);
}

.slider_light {
    transform: translate(56%, -50%);
}

.theme_toggle_container:hover .theme_toggle_background {
    background-color: #555;
}
