.movies_list_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    align-items: stretch;
    height: 100%;
}

.movies_list_component h3 {
    margin: 0;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    .movies_list_container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.movies_list_card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    overflow: hidden;
}

.movies_list_card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

.movies_list_card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
}
