.container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.toggle_button {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s, border-color 0.3s;
}

.toggle_button:hover {
    background-color: #555;
    border-color: #888;
}

.toggle_button span {
    margin-right: 8px;
    font-size: 10px;
}

.toggle_button_link {
    text-decoration: none;
    color: #ffffff;
}

.toggle_button_link:hover {
    transform: scale(1.05);
    color: palevioletred;
}

.genre_list {
    margin-top: 4px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #444;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: max-height 0.3s ease-in, opacity 0.3s;
    opacity: 0;
}

.genre_list.open {
    max-height: 200px;
    opacity: 1;
    overflow-y: auto;
}

.genre_list::-webkit-scrollbar {
    width: 8px;
}

.genre_list::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}

.genre_list::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 4px;
}

.genre_list::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.genre_item {
    padding: 10px 14px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.genre_item:hover {
    background-color: #333;
    color: palevioletred;
}

.genre_item:last-child {
    border-bottom: none;
}

